.theme-cyan .sidebar-nav .metismenu > li.active > a {
  color: #01b2c6;
}

.patient-table-search-input {
  width: 50%;
  margin: 20px auto;
  display: flex;
  background: #fff;
}
.patient-table-search-input input {
  width: 65%;
  padding: 10px 14px;
  border-radius: 0;
  border: 1px solid #fff;
  font-size: 17px;
  font-weight: 500;
}
.patient-table-search-input input:focus {
  outline: none;
}
.patient-table-search-input select {
  width: 35%;
  padding: 10px 14px;
  border-radius: 0;
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 500;
}
.patient-table-search-input select:focus {
  outline: none;
}

.all-address-slector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all-address-slector select {
  width: 30%;
  padding: 7px 10px;
  border: none;
  margin: 6px 1px;
}

.navbar {
  height: 74px;
}

#banner {
  margin-top: 74px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;
}

#banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000085;
  z-index: -1;
}
.change-cover {
  position: absolute;
  top: 3%;
  left: 1%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.change-cover input {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.change-cover label {
  background: #fff;
  color: #111;
  border-radius: 4px;
  padding: 6px 9px;
  font-size: 10px;
  cursor: pointer;
}

#banner:hover .change-cover {
  opacity: 1;
}
.sidebar-nav .metismenu > li a {
  text-transform: capitalize;
}

.main-content {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.main-content2 {
  height: 100vh !important;
  overflow-y: auto;
}

#top_counter .icon i {
  font-size: 33px;
}
#top_counter .content {
  flex-direction: column;
}
.navbar-brand i {
  font-size: 35px;
}

.banner-title {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.banner-title h1 {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  padding: 10px 10px;
  font-weight: 600;
}
/* .banner-title h1 span {
} */

.banner-profile {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 10px 10px;
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-profile .profile-img {
  height: 150px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.banner-profile .profile-img img {
  width: 100%;
  height: 100%;
}
.banner-profile button {
  border: none;
  background: rgba(17, 17, 17, 0.353);
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.banner-profile:hover button {
  opacity: 1;
  visibility: visible;
}

.banner-profile button input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.banner-social-link {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 0px 10px;
  width: 190px;
}
.banner-social-link ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}
.banner-social-link ul li a {
  font-size: 25px;
  margin: 0 4px;
  color: #111;
}
.user-id {
  font-size: 20px;
}

#left-sidebar {
  position: relative !important;
  height: 100vh;
}

.theme-cyan:before,
.theme-cyan:after {
  left: 0;
}

.navbar-button {
  background-color: #01b2c6;
  border: 1px solid #01b2c6;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
}
.navbar-button:hover {
  color: #01b2c6;
  background: transparent;
}

.main-content2 {
  height: 100vh;
}
.from-save-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.from-save-button button {
  background-color: #01b2c6;
  border: 1px solid #01b2c6;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
}
.from-save-button button:hover {
  color: #01b2c6;
  background: transparent;
}
.from-save-button .btn-darft {
  background-color: transparent;
  border: 1px solid #01b2c6;
  color: #01b2c6;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
}
.from-save-button .btn-darft:hover {
  color: #fff;
  background: #01b2c6;
}

.basic-info,
.info-wrap-border {
  border: 6px solid #01b2c6;
  padding: 10px;
}

.patient-profile-pic .upload-pic {
  border: 6px solid #01b2c6;
  height: 120px;
  position: relative;
  cursor: pointer;
}
.patient-profile-pic .upload-pic input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.patient-profile-pic .upload-pic label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.total-patient-conter {
  display: grid;
  grid-template-columns: 25% 75%;
}

.table-select-content {
  width: 100px;
}
.net-income-details a {
  color: inherit;
}
.net-income-details .content {
  width: 50%;
}
.chamber-and-online-patient {
  display: grid;
  grid-template-columns: 30% 40%;
}
.chamber-and-online-patient h4,
.net-income-details h4 {
  font-size: 20px;
  font-weight: 500;
}
.chamber-and-online-patient h5,
.net-income-details h5 {
  font-size: 17px;
  font-weight: 400;
}
.carousel-item .main-title {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0;
}
.patient-counter .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.patient-report {
  display: grid;
  grid-template-columns: 60% 40%;
}
.patient-report h3 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0;
  font-size: 20px;
}
.patient-report select {
  font-size: 18px;
  padding: 2px 9px;
  border-radius: 13px;
  border: 1px solid #d5d5d5;
}

.patient-table-filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47%;
  margin: auto;
}
.patient-table-filter-btn button {
  border: 1px solid #fff;
  background: #fff;
  color: #111;
  font-size: 19px;
  font-weight: 600;
  padding: 10px 19px;
}

.patient-table-search-input {
  width: 50%;
  margin: 20px auto;
  display: flex;
  background: #fff;
}
.patient-table-search-input input {
  width: 65%;
  padding: 10px 14px;
  border-radius: 0;
  border: 1px solid #fff;
  font-size: 17px;
  font-weight: 500;
}
.patient-table-search-input input:focus {
  outline: none;
}
.patient-table-search-input select {
  width: 35%;
  padding: 10px 14px;
  border-radius: 0;
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 500;
}
.patient-table-search-input select:focus {
  outline: none;
}

.date-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* .date-selector div{} */
.date-selector div label {
  width: 100%;
}
.date-selector div input {
  border-radius: 0;
  border: 1px solid #dbdbdb;
  padding: 2px 14px;
  color: #686868;
  width: 100%;
  font-size: 14px;
}
.date-selector p {
  margin-bottom: 0;
  margin-top: 27px;
}

.view-icon {
  font-size: 22px;
  color: #111;
}

.border-buttom {
  border-bottom: 1px solid #cbcbcb;
}

.theme-cyan .sidebar-nav .metismenu > li.active > a {
  color: #01b2c6;
}

.commision-details {
  padding: 0;
  margin: 0;
}
.commision-details li p {
  font-size: 20px;
}
.chat-app-btn {
  position: absolute;
  top: 21px;
  right: 12px;
  padding: 0;
  background: transparent;
  font-size: 19px !important;
  z-index: 9;
}
.chat-app-btn:active {
  outline: none;
}
.chat-app-btn:focus {
  outline: none;
  box-shadow: none;
}

.chat-app .people-list.active {
  left: 0px !important;
  display: block !important;
}
.offcanvas-active #left-sidebar {
  left: 5px !important;
}

.payment-type {
  font-size: 17px;
}
.payment-type span {
  font-size: 15px;
  margin-left: 10px;
}
.select-paymet-method select {
  border: none;
  margin-left: 10px;
}
.select-paymet-method select:focus {
  outline: none;
}

.details-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.details-list li {
  font-size: 18px;
  font-weight: 500;
  color: #111;
}
.details-list li span {
  color: rgb(83, 83, 83);
  margin-left: 5px;
}

.profile-user-img {
  width: 200px;
  height: 220px;
  margin-left: auto;
}
.profile-user-img img {
  width: 100%;
  height: 100%;
}
.profile-contact-info {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid #01b2c6;
  margin: 0;
  padding: 0;
}
.contact-information {
  border-right: 1px solid #01b2c6;
  border-left: 1px solid #01b2c6;
}
.contact-info-title {
  border-bottom: 1px solid #01b2c6;
}
.contact-information ul {
  padding: 10px 20px;
}
.contact-info-title h4 {
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 22px;
}
.terms-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
.terms-list li {
  display: grid;
  grid-template-columns: 20px 80%;
  column-gap: 10px;
  margin: 10px 0;
}
.terms-list li i {
  color: #01b2c6;
  font-size: 20px;
}
.terms-list li p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #111;
}
div#left-sidebar {
  padding-bottom: 30px;
}

.card-link:hover .body,
.card-link:hover .card {
  color: #01b2c6;
}

.show-password {
  position: relative;
  height: 36px;
  width: 100%;
}
.show-password input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.show-password i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.notification li {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 500;
}
.doctor-select .doctor {
  border: 6px solid #01b2c6;
  height: 200px;
  position: relative;
  cursor: pointer;
  padding: 10px 10px;
  text-align: center;
}
.doctor-select .doctor img {
  margin: auto;
  width: 100px;
}
.doctor-select .doctor h4 {
  margin-bottom: 0;
}
.doctor-select .doctor p {
  margin-bottom: 0;
}
.change-doctor-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000085;
  color: #fff;
  font: 20px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border: none;
}

.doctor-select .doctor:hover .change-doctor-btn {
  opacity: 1;
}
.billinfo-list{
  color: #111;
  text-decoration: underline;
}
.billinfo-list:hover{
  color: #01b2c6;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  #left-sidebar {
    position: fixed !important;
    top: 0;
    left: -250px !important;
    margin-top: 45px !important;
  }
  .navbar {
    height: 45px;
  }
  #banner {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .navbar-button {
    font-size: 10px;
    padding: 1px 4px;
  }
  #top_counter .icon i {
    font-size: 20px !important;
  }
  #top_counter .text {
    font-size: 10px;
  }
  #top_counter .number {
    font-size: 12px;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0 !important;
    padding: 0px;
  }
  .navbar-brand i {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #top_counter .icon i {
    font-size: 10px !important;
  }
  .banner-title h1 {
    font-size: 10px;
    padding: 4px 4px;
  }
  .banner-social-link {
    padding: 0px 0px;
    width: 90px;
  }
  .banner-social-link ul li a {
    font-size: 13px;
    margin: 0 0px;
  }
  .card .header {
    padding: 4px;
  }
  .card .body {
    padding: 4px;
  }
  .patient-table-search-input {
    width: 100%;
  }
  .chat-app .people-list {
    padding-top: 64px !important;
  }
  .profile-contact-info {
    display: block;
  }

  .patient-table-search-input {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .user-id {
    font-size: 16px;
  }
  #top_counter .text {
    font-size: 7px;
  }
  #top_counter .number {
    font-size: 7px;
  }
  .from-save-button button {
    padding: 3px 6px;
    font-size: 12px;
  }
  .from-save-button .btn-darft {
    padding: 3px 6px;
    font-size: 12px;
  }
  #banner {
    height: 130px;
  }
  .banner-profile .profile-img {
    height: 65px;
    width: 65px;
  }
  .banner-profile {
    padding: 0 0;
    width: 80px;
    height: 80px;
  }
  .date-selector {
    display: block;
    padding: 16px 14px;
  }
  .date-selector p {
    margin-top: 20px;
    text-align: center;
  }
  .patient-table-search-input input {
    font-size: 10px;
    font-weight: 400;
  }
  .patient-table-search-input select {
    font-size: 8px;
    font-weight: 500;
    padding: 10px 0;
  }
  .chamber-and-online-patient {
    display: block;
  }
  .net-income-details h4 {
    font-size: 14px;
  }
  .net-income-details h5 {
    font-size: 12px;
  }
  .commision-title {
    font-size: 18px;
  }
  .commision-details li h5 {
    font-size: 10px;
  }
  .commision-details li p {
    font-size: 10px;
    margin-bottom: 0;
  }

  .patient-table-search-input input {
    font-size: 10px;
    font-weight: 400;
  }
  .patient-table-search-input select {
    font-size: 8px;
    font-weight: 500;
    padding: 10px 0;
  }
}
